.gitignore
MastersOfMana/Assets/StreamingAssets/FFmpegOut
StreamingAssets.meta
FFmpegOut.meta
MastersOfMana/Assets/EffectExamples
MastersOfMana/Assets/EffectExamples.meta
MastersOfMana/Assets/PostProcessing
MastersOfMana/Assets/PostProcessing.meta
