.gitignore
MastersOfMana/Assets/StreamingAssets/FFmpegOut
StreamingAssets.meta
FFmpegOut.meta
MastersOfMana/Assets/EffectExamples
MastersOfMana/Assets/EffectExamples.meta
MastersOfMana/Assets/StatsCollection/LogData/
LightingData.asset
LightingData.asset.meta
ReflectionProbe-0.exr
ReflectionProbe-0.exr.meta
